<ul class="controls">
	<li class="prev"></li>
	<li class="next"></li>
</ul>
<div id="sequence">
	<ul>
		<li>
			<div class="intro animate-in">
				<h2><%= t('home.one.title') %></h2>
				<h3><%= t('home.one.idea') %></h3>
			</div>
			<!--<a href="#" class="ios-logo"></a>-->
			
			<img class="iphone animate-in" src="../assets/iphone.png" alt="Versión iOS" />
			<img class="iphone-shadow animate-in" src="../assets/iphone-shadow.png" alt="" />
		</li>
		<li>
			<img class="galaxy" src="../assets/galaxy.png" alt="Versión Android" />
			<div class="slide2">
				<h2><%= t('home.two.title') %></h2>
				<h3><%= t('home.two.idea') %></h3>		
			</div>
			<!--<a href="#" class="android-logo"></a>-->
			
			<img class="galaxy-shadow" src="../assets/galaxy-shadow.png" alt="" />
		</li>
		<li>
			<div class="slide3">
				<h2><%= t('home.three.title') %></h2>
				<h3><%= t('home.three.idea') %></h3>
			</div>
			<%= link_to '', '#', :target => "blank", :class => "safari-logo" %>
			<%= link_to '', '#', :target => "blank", :class => "firefox-logo" %>
			<%= link_to '', '#', :target => "blank", :class => "chrome-logo" %>
			<img class="web" src="../assets/web.png" alt="Versión Web" />
			<img class="web-shadow" src="../assets/web-shadow.png" alt="" />
		</li>
	</ul>
</div>
