
<div class="<%= I18n.locale == :en ? "soon" : "prox" %>"></div>

<div id="menu">
	<div id="decoration"></div>
	<div class="icono-navbar"></div>
	<ul>
		<li><%= link_to t('menu.home'), '#', :class => "home-trigger menu-link active" %></li>
		<li><%= link_to t('menu.details'), '#', :class => "details-trigger menu-link" %></li>
		<li><%= link_to t('menu.about'), '#', :class => "about-trigger menu-link" %></li>
		<li><%= link_to t('menu.team'), '#', :class => "team-trigger menu-link" %></li>
		<li><%= link_to t('menu.contribute'), '#', :class => "contribute-trigger menu-link" %></li>
		<% if PumaBusApp.locales_enabled? %>
			<li class="language">
				<% if I18n.locale.eql?(:es_MX) %>
					<%= link_to t('menu.lang.en'), locales_en_path, :class => "home-lang" %>
				<% elsif I18n.locale.eql?(:en) %>
					<%= link_to t('menu.lang.es'), locales_es_path, :class => "home-lang" %>
				<% end %>
			</li>
		<% end %>
	</ul>
	<%= link_to image_tag('unam_mini.png'), 'http://www.unam.mx', :target => "_blank", :class => "unam-logo" %>
</div>

<div id="scrollable-area">
	<div id="home" class="blocky">
		<%= render 'sequence' %>
	</div>
	
	<div id="communication">
		<div class="centered invite"><p><strong><%= t('communication.invite.verb') %></strong><%= t('communication.invite.details').html_safe %></p></div>
	</div>
	
	<div id="details" class="blocky">

		
		<div class="centered container">
			
			<div class="os-selector">
				<ul>
					<li><a href="javascript:void(0);" id="ios" class="active selector"></a></li>
					<li><a href="javascript:void(0);" id="android" class="selector"></a></li>
				</ul>
			</div>
			
			<ul class="grid">
				<li class="active routes">
					<p class="title"><%= t('details.routes.title') %></p>
					<p class="description"><%= t('details.routes.description') %></p>
				</li>
				
				<li class="map">
					<p class="title"><%= t('details.map.title') %></p>
					<p class="description"><%= t('details.map.description') %></p>
				</li>
			
				<li class="real-time">
					<p class="title"><%= t('details.rt.title') %></p>
					<p class="description"><%= t('details.rt.description') %></p>
				</li>
				
				<li class="schedules">
					<p class="title"><%= t('details.schedules.title') %></p>
					<p class="description"><%= t('details.schedules.description') %></p>
				</li>
				
				<li class="places no-border">
					<p class="title"><%= t('details.places.title') %></p>
					<p class="description"><%= t('details.places.description') %></p>
				</li>
			</ul>
			

			
			<div id="screen-container" class="img-container">
				
				<div id="places_ios"></div>
				<div id="places_android"></div>
				
				<div id="schedules_android"></div>
				<div id="schedules_ios"></div>
				
				<div id="real-time_android"></div>
				<div id="real-time_ios"></div>
				
				<div id="map_ios"></div>
				<div id="map_android"></div>
				
				<div id="routes_ios"></div>
				<div id="routes_android"></div>
			</div>
		</div>
		
		<div class="centered bottom-final">
			<p><%= t('details.extra.one') %></p>
		</div>
	</div>
	
	<div id="about" class="blocky">
		<div class="labs">
			<div class="centered">
				<%= link_to "" ,"http://www.unam.mx", :target => "blank", :class => "unam-logo" %>
				<%= link_to "" ,"http://www.pumabus.unam.mx/", :target => "blank", :class => "pumabus-logo" %>
				<%= link_to "" ,"http://www.iimas.unam.mx/", :target => "blank", :class => "iimas-logo" %>
			</div>
		</div>
		<div class="two-contents centered">
			<h1><%= t('about.title') %></h1>
			
			<p><%= t('about.future.content_one') %></p>
			<p><%= t('about.future.content_two') %></p>
			<p><%= t('about.future.content_three') %></p>

			<div class="mid left">
				<h4><%= t('about.history.subtitle') %></h4>
				
				<p><%= t('about.history.content_one') %></p>
				<p><%= t('about.history.content_two') %></p>
				
			</div>
			
			<div class="mid right">
				<h4><%= t('about.future.subtitle') %></h4>

				<ol>
					<li class="odd"><%= t('about.future.ideas.one').html_safe %></li>
					<li><%= t('about.future.ideas.two').html_safe %></li>
					<li class="odd"><%= t('about.future.ideas.three').html_safe %></li>
					<li><%= t('about.future.ideas.four').html_safe %></li>
					<li class="odd"><%= t('about.future.ideas.five').html_safe %></li>
				</ol>
				
			</div>			
		</div>
	</div>

	<div id="team" class="blocky">
		<h1><%= t('team.title') %></h1>
		
		<ul class="members centered">
			<li>
				<p class="name">Dr. Juan Mario Peña Cabrera</p>
				<div class="photo centered pena"></div>
				
				<p class="description">Diseño, desarrollo y construcción de componentes de <i>hardware</i> y <i>software</i> especializados para el sistema de monitoreo y control vehicular para el transporte interno de la UNAM usando tecnología GPS y GPRS.</p>
				<p class="bio">Jefe del Departamento de Ingeniería de Sistemas Computacionales y Automatización en el IIMAS. </p>
				<p class="email">mario@leibniz.iimas.unam.mx</p>
			</li>
			<li>
				<p class="name">M. en I. Humberto Gómez Naranjo</p>
				<div class="photo centered naranjo"></div>
				

				<p class="description">Diseño, desarrollo y construcción de componentes de <i>hardware</i> y <i>software</i> especializados para el sistema de monitoreo y control vehicular para el transporte interno de la UNAM usando tecnología GPS y GPRS.</p>
				<p class="bio">Técnico Académico Titular "B" en el Departamento de Ingeniería de Sistemas Computacionales y Automatización en el IIMAS.</p>
				<p class="email">hgomez@leibniz.iimas.unam.mx</p>
			</li>
			<li class="no-border">
				<p class="name">Alejandro Eduardo Cruz Paz</p>
				<div class="photo centered alex"></div>
				
				<p class="description">Conceptualización, diseño y desarrollo tanto del servidor de datos dinámicos, así como también de la primer versión de las aplicaciones móviles y web del proyecto Pumabús Móvil.</p>
				<p class="bio">Estudiante de la Licenciatura en Ciencias de la Computación en la Facultad de Ciencias de la UNAM.</p>
				<p class="email">aecp@ciencias.unam.mx</p>
			</li>

		</ul>
	</div>
	<div id="contribute" class="blocky">
		<h1><%= t('contribute.title') %></h1>
		<div class="content centered">
			<h3><%= t('contribute.main') %></h3>
			<p class="main-follow"><%= t('contribute.main_follow') %></p>
			
			<ul class="contributions centered">
				<li>
					<div class="cartography icon"></div>
					<p class="aspect"><%= t('contribute.cartography.title') %></p>
					<p class="description"><%= t('contribute.cartography.description').html_safe %></p>
					<p class="hot"><%= t('contribute.cartography.hot') %></p>
				</li>
				<li>
					<div class="hardware icon"></div>
					<p class="aspect"><%= t('contribute.hardware.title') %></p>
					<p class="description"><%= t('contribute.hardware.description') %></p>
					<p class="hot"><%= t('contribute.hardware.hot') %></p>
				</li>
				<li>
					<div class="design icon"></div>
					<p class="aspect"><%= t('contribute.design.title') %></p>
					<p class="description"><%= t('contribute.design.description') %></p>
					<p class="hot"><%= t('contribute.design.hot') %></p>
					
					<p class="contributors">+</p>
					<div class="credits hidden">
						<p class="title">Han contribuido:</p>
						<div class="contribution">
								<p class="name">Hugo Dorantes</p>
								<p class="contribution">Diseño del icono del proyecto <a href="http://www.behance.net/hugodr" target="blank" class="contact">Contacto</a></p>
						</div>
					</div>
				</li>
				<li>
					<div class="terminal icon"></div>
					<p class="aspect"><%= t('contribute.software.title') %></p>
					<p class="description"><%= t('contribute.software.description') %></p>
					<p class="hot"><%= t('contribute.software.hot') %></p>
				</li>
			</ul>
			<p class="contact"><%= t('contribute.contact') %></p>
			
		</div>
	</div>
	<div id="api">
		<div class="content centered">
			<p><%= t('contribute.open_api').html_safe %></p>
		</div>
	</div>
	<div id="social" class="blocky">
		<div class="centered content">
			<h2><%= t('social.twitter')%> </h2>
			<%= link_to '', 'https://twitter.com/pumabusapp' , :target => "blank" , :class => "twitter" %>
		</div>
	</div>
	<div id="footer" class="blocky">
		<p>Ciudad Universitaria , <a href="http://www.unam.mx" target="_blank">UNAM</a> 2012</p>
	</div>
</div>
